body {
  margin: 0 5vw;
}

.App {
  text-align: center;
  margin-top: 5vh;
}

.App-logo {

  width: 90%;
  height: 30vh;
  margin: 0px;
  background-size: cover;
  padding-top: 0%;

  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
.textSize {
  font-size: 1.125em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */
.circle {
  width: 100px;
}

.itinerary {
  margin: 0 auto;
  background-color: #61dafb;
}

.itinerary img {
  width: 100%
}

.footer {
  width: 50px;
  text-align: center;
}

.navbar-margin {
  margin-top: 10%;
}

.card {
  width: 18rem;
  position: fixed;
  height: 18rem;
  float: left;
  padding: 2%;
  /* display: inline-block; */
  margin: 20px auto;
  text-align: center;
}

.card-img {
  width: 16rem;
  height: 16rem;
}

.imgCarsoul {
  width: 18rem;
  border-radius: 10%;
  background-color: #61dafb;
  height: 18rem;
  float: left;
  padding: 2%;
  /* display: inline-block; */
  text-align: center;
}

/* .background {
  /* background-image: url(PhotoWithCamera.jpg) no repeat; */
/* background-size: cover;
width: 100%;
background-color: #61dafb;
}

*/