body {
  margin: 0;
  background-color: #b2b7be;
}

.App {
  text-align: center;
  margin-top: 5vh;
}

.App-logo {

  width: 90%;
  height: 30vh;
  margin: 0px;
  background-size: cover;
  padding-top: 0%;

  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
.textSize {
  font-size: 1.125em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */
.circle {
  width: 100px;
}

.itinerary {
  margin: 0 auto;
  background-color: #61dafb;
}

.itinerary img {
  width: 100%
}

.footer {
  width: 50px;
  text-align: center;
}

.navbar-margin {
  margin-top: 10%;
}

.card {
  width: 18rem;
  position: fixed;
  height: 18rem;
  float: left;
  background-color: #d2dbe7;

  /* display: inline-block; */
  margin: 3%;
  text-align: center;
}

.card-img {
  width: 16rem;
  height: 16rem;

}

.imgCarsoul {
  width: 18rem;
  border-radius: 10%;
  background-color: #61dafb;
  height: 18rem;
  float: left;
  padding: 2%;
  /* display: inline-block; */
  text-align: center;
}

/* .background {

  background-size: cover;
  width: 100%;
  background-color: #61dafb;
} */
body header {
  background-image: url("./Component/PhotoWithCamera.jpg");
  background-position: 50% 80%;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 400px;

}

.container-for-header-text {
  text-align: center;


}

.header-text-wrapper {
  padding: 20%;
  margin: auto;
  /* width: 80%; */
  float: none;
}



.container-for-header-text p {
  margin-top: 10%;
  font: normal 1.2em sans-serif;
  color: #cc350f;

}

.container-for-header-text h1 {
  font: normal 2.4em "Patua One", serif;
  color: #cc350f;

}