# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# line add by me hiba to ignore allsub folder from node-modules
node_modules/
# dependencies

client/.pnp
.pnp.js

# testing
/coverage

# production
# client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
keys.js
#  production.js